
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--=========== Dynamic Title bar =============== -->
  <title>Login |  API Tester </title>

  <link rel="icon" href="/static/images/thumb.jpeg" type="image/x-icon"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

  <!-- ======== the alert box ========= -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">  <!-- class="alert alert-warning will change depending upon msg type-->
    
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <!-- ========= end alert ============= -->

  <!-- =============== body block ================ -->
  <div class="containetr">
  <form action="" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">user Name</label>
    <input type="text" class="form-control" id="txtUname" name="txtUname">
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" id="txtEmail" name="txtEmail">
  </div>


  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" id="txtUpass" name="txtUpass">
  </div>

  <div class="mb-3">
    <label class="form-label">Go Back to  <a href="{% url 'login-user'%}">Login</label>
  </div>
  
  <br>
  <button type="submit" class="btn btn-primary"> Register </button>


  
</form>

    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>